<footer class="new_footer_area bg_color">
  <div class="new_footer_top">
    <div class="footer_bg">
      <div class="footer_bg_one"></div>
      <div class="footer_bg_two"></div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-sm-6">
          <p class="mb-0 f_400">© İzmir Eğitim Kurumları 2020 Tüm hakları saklıdır.</p>
        </div>
        <div  class="col-lg-4 col-sm-6">
          <div class="f_social_icon text-center">
            <a target="_blank" href="https://www.facebook.com/izmiregitimkurumlari" class="ti-facebook"></a>
            <a target="_blank" href="https://twitter.com/IzmEKurumlari" class="ti-twitter-alt"></a>
            <a target="_blank" href="https://www.instagram.com/izmiregitimkurumlari_" class="ti-instagram"></a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-5 text-right">
          <p><a routerLink="/"><img src="assets/img/izmir-egitim-kurumlari.png" alt="logo" class="app-logo"></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>