<section class="breadcrumb_area" style="background-image: url('assets/img/education-green-bay-primary-2000x800-yq882y.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  ">
  <img class="breadcrumb_shap" src="img\breadcrumb\banner_bg.png" alt="">
  <div class="container">
    <div class="breadcrumb_content text-center">
      <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">YAŞAR ÜNİVERSİTESİ</h1>
      <p class="f_400 w_color f_size_20 l_height26">Bizi ilgilendiren konu yalnız barışı kurmanın ve korumanın teknik çareleri değil, aynı zamanda kafaları eğitmenin, aydınlatmanın yoludur.</p>
    </div>
  </div>
</section>
<section class="education_details_area" *ngIf="educationDetailModel">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" id="images">
        <ng-image-slider *ngIf="imageObject.length>0" [imageSize]="{width: '300px', height: '180px'}" [images]="imageObject"></ng-image-slider>
      </div>
      <div class="col-lg-12">
        
      </div>
      <div class="col-lg-8 lg-pr">
        <div class="details_content" id="education-about">
          <div class="sec_title mb_20">
            <h3 class="f_p f_size_22 f_500 t_color3 mb_20">{{educationDetailModel.generalInformation.educationName}}</h3>
            <hr />
            <p class="f_400 l_height32" [innerHTML]="educationDetailModel.generalInformation.description"></p>
          </div>
        </div>
        <div class="details_content" id="education-facilities">
          <div class="sec_title mb_20" *ngFor="let attribute of educationDetailModel.categoryAttributeList">
            <h3 class="f_p f_size_22 f_500 t_color3 mb_20">{{attribute.categoryName}}</h3>
            <ul class="list-unstyled mb-0">
              <li *ngFor="let attribute of attribute.attributeListModel"><i class="ti-check"></i>{{attribute.name}}</li>
            </ul>
          </div>
        </div>
        <div class="details_content" id="frequently-asked-questions">
          <div class="sec_title mb_20">
            <div class="stratup_service_info">
              <div class="startup_service_item" *ngFor="let questionModel of educationDetailModel.questions">
                <div class="icon icon_two"><i class="icon-question"></i></div>
                <h3>{{questionModel.question}}</h3>
                <p>{{questionModel.answer}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="details_content" id="contact-information">
          <div class="sec_title">
            <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Bloglar</h3>
            <div class="row">
              <div class="col-lg-4 col-sm-6" *ngFor="let blog of educationDetailModel.blogList">
                <div class="blog_grid_item mb-30">
                  <div class="blog_img">
                  <a routerLink="/blog/{{blog.seoUrl}}"><img [src]="blog.firstVisibleImageName" alt="blog.title"></a>
                  </div>
                  <div class="blog_content">
                    <div class="entry_post_info">
                      <a href="#">{{blog.username}}</a>
                      <span>{{blog.createTime}}</span>
                    </div>
                    <a routerLink="/blog/{{blog.seoUrl}}">
                      <h5 class="f_p f_size_16 f_500 t_color mb_20">{{blog.title}}</h5>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="job_info">
          <div class="info_head">
            <i class="ti-receipt"></i>
            <h6 class="f_p f_600 f_size_18 t_color3">Eğitim Bilgileri</h6>
          </div>
          <div class="info_item">
            <i class="ti-location-pin"></i>
            <h6>İl / İlçe</h6>
            <p>{{educationDetailModel.addressInformation.cityName}} / {{educationDetailModel.addressInformation.districtName}}</p>
          </div>
          <div class="info_item">
            <i class="ti-home"></i>
            <h6>Adres</h6>
            <p>{{educationDetailModel.addressInformation.address}}</p>
          </div>
          <div class="info_item">
            <i class="icon-call-end"></i>
            <h6>Telefon</h6>
            <p>0 {{educationDetailModel.contactInformation.phoneOne | mask: '000 000 00 00'}}</p>
            <p>0 {{educationDetailModel.contactInformation.phoneTwo | mask: '000 000 00 00'}}</p>
          </div>
          <div class="info_item">
            <i class="ti-email"></i>
            <h6>Email</h6>
            <p>{{educationDetailModel.contactInformation.educationEmail}}</p>
          </div>
          <div class="info_item">
            <i class="icon-globe"></i>
            <h6>Kurumsal Web Sitesi</h6>
            <p>
              <a target="_blank" href="//{{educationDetailModel.contactInformation.educationWebsite}}">Siteye Git</a>
            </p>
          </div>
        </div>
        <div class="contact-form">
          <h6>Hemen Sizi Arıyalım</h6>
          <p>Fiyat bilgileri, erken kayıt avantajları, randevu talepleri ve sorularınız için formu ücretsiz doldurun. Eğitim kurumu sizi hemen arasın.</p>
          <div class="contact-form-input" *ngIf="contactFormDiv">
            <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit()">
              <div class="form-group text_box">
                <label for="nameSurname">Ad Soyad</label>
                <input type="text" formControlName="nameSurname" />
                <span class="not-valid" *ngIf="submitted && contactForm.get('nameSurname').errors != null ? contactForm.get('nameSurname').errors.required:false">
                  Lütfen Ad Soyad giriniz.
                </span>
              </div>
              <div class="form-group text_box">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" formControlName="email" />
                <span class="not-valid" *ngIf="submitted && contactForm.get('email').errors != null ? contactForm.get('email').errors.required:false">
                  Lütfen Email adresi giriniz.
                </span>
                <span class="not-valid" *ngIf="submitted && contactForm.get('email').errors != null ? contactForm.get('email').errors.email:false">
                  Lütfen geçerli Email adresi giriniz.
                </span>
              </div>
              <div class="form-group text_box">
                <label for="exampleInputEmail1">Telefon</label>
                <input type="text" formControlName="phoneNumber" mask="(000) 000 00 00" [validation]="true"/>
                <span class="not-valid" *ngIf="submitted && contactForm.get('phoneNumber').errors != null ? contactForm.get('phoneNumber').errors.required:false">
                  Lütfen Telefon numarası giriniz.
                </span>
                <span class="not-valid" *ngIf="submitted && contactForm.get('phoneNumber').errors != null ? contactForm.get('phoneNumber').errors['Mask error']:false">
                  Lütfen geçerli bir Telefon numarası giriniz. 
                </span>
              </div>
              <div class="form-group">
                <button type="submit" class="btn_hover agency_banner_btn pay_btn pay_btn_two cus_mb-10">İletişime Geç</button>
              </div>
            </form>
          </div>
          <div class="contact-from-success" *ngIf="contactFormSuccessMessage">
            <div class="box_alert media box_success">
              <div class="icon"><i class="icon-check"></i></div>
              <div class="media-body">
                <h5>Bilgileriniz Gönderildi.</h5>
                <p>En yakın zamanda dönüş yapılacaktır. Teşekkürler</p>
              </div>
              <div>
              </div>
            </div>
             
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
