  <!--Sidebar Menu Starts-->
<aside class="menu-sidebar js-right-sidebar d-block d-lg-none">
  <div class="logo">
    <a href="#">
      <img src="../../../assets/images/logo-black.png" />
    </a>
  </div>
  <div class="menu-sidebar__content js-scrollbar2">
    <div class="account-img">
      <img src="../../../assets/images/clients/reviewer-4.png" alt="Steve Austin">
    </div>
    <h4 class="name">Howdy, Steve!</h4>
    <nav class="navbar-sidebar2">
      <ul routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-unstyled navbar__list">
        <li>
          <a routerLink="/panel" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="ion-ios-gear-outline"></i>Gösterge Paneli
          </a>
        </li>
        <!--<li class="has-sub">
    <a class="js-arrow" href="#">
      <i class="ion-social-buffer-outline"></i>My Listings
    </a>
    <ul class="list-unstyled navbar__sub-list js-sub-list">
      <li>
        <a href="db-my-listing.html">Active</a>
        <span class="inbox-num active">6</span>
      </li>
      <li>
        <a href="db-my-listing.html">Pending</a>
        <span class="inbox-num pending">8</span>
      </li>
      <li>
        <a href="db-my-listing.html">Expired</a>
        <span class="inbox-num expired">12</span>
      </li>
    </ul>
  </li>-->
        <li class="has-sub">
          <a class="js-arrow" href="#">
            <i class="ion-ios-star-outline"></i>Eğitim
          </a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a routerLink="/panel/egitim-listesi" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" href="db-recieve-reviews.html">
                Eğitim Listesi
              </a>
            </li>
            <li>
              <a routerLink="/panel/egitim-ekle" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" href="db-submit-reviews.html">
                Eğitim Ekle
              </a>
            </li>
          </ul>
        </li>
        <!--<li>
          <a routerLink="/panel/egitim-listesi" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <i class="ion-ios-copy-outline"></i>Eğitimler
          </a>
        </li>-->
        <!--<li>
    <a href="db-messages.html">
      <i class="ion-ios-email-outline"></i>Inbox
    </a>
    <span class="inbox-num pending">3</span>
  </li>-->
        <!--<li>
    <a href="db-favourites.html">
      <i class="ion-ios-heart-outline"></i>Favourites
    </a>
  </li>
  <li>
    <a href="db-add-listing.html">
      <i class="ion-ios-plus-outline"></i>Add Listings
    </a>
  </li>
  <li class="has-sub">
    <a class="js-arrow" href="#">
      <i class="ion-ios-star-outline"></i>Reviews
    </a>
    <ul class="list-unstyled navbar__sub-list js-sub-list">
      <li>
        <a href="db-recieve-reviews.html">
          Recieved Reviews
        </a>
        <span class="inbox-num active">6</span>
      </li>
      <li>
        <a href="db-submit-reviews.html">
          Submitted reviews
        </a>
        <span class="inbox-num pending">8</span>
      </li>
    </ul>
  </li>
  <li>
    <a href="db-my-profile.html">
      <i class="ion-ios-person-outline"></i>My profile
    </a>
  </li>
  <li>
    <a href="db-invoices.html">
      <i class="ion-ios-printer-outline"></i>Invoices
    </a>
  </li>
  <li>
    <a href="#">
      <i class="ion-ios-upload-outline"></i>Logout
    </a>
  </li>-->
      </ul>
    </nav>
  </div>
</aside>
<!--Sidebar Menu ends-->
