<section class="breadcrumb_area" style="    background-image: url('assets/img/new/startup_banner_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  ">
  <ul class="list-unstyled cloud_animation">
    <li><img src="assets/img/erp-home/cloud_01.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_02.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_03.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_04.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_05.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_06.png" alt=""></li>
  </ul>
  <div class="container">
    <div class="breadcrumb_content text-center">
      <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">İzmir Eğitim Kurumları</h1>
      <p class="f_400 w_color f_size_20 l_height26">Aşağıdaki formu doldurarak tekrardan e-posta onay maili alabilirsin.</p>
    </div>
  </div>
</section>
<section class="contact_info_area sec_pad bg_color">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 pr-0">
        <div class="contact_form">
          <div *ngIf="errorList">
            <span class="not-valid" *ngFor="let error of errorList">
              {{error}}
            </span>
          </div>
          <form [formGroup]="emailConfirmationForm" *ngIf="emailConfirmationFormDiv" (ngSubmit)="onEmailConfirmationFormSubmit()">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group text_box">
                  <input type="text" formControlName="email" placeholder="E-posta" />
                  <span class="not-valid" *ngIf="submitted && emailConfirmationForm.get('email').errors != null ? emailConfirmationForm.get('email').errors.required:false">
                    Lütfen Email adresi giriniz.
                  </span>
                  <span class="not-valid" *ngIf="submitted && emailConfirmationForm.get('email').errors != null ? emailConfirmationForm.get('email').errors.email:false">
                    Lütfen geçerli Email adresi giriniz.
                  </span>
                </div>
              </div>
              <div class="col-lg-6">
                <button style="width:50%;height:40px;font-size:15px;" type="submit" class="btn_three sign_btn_transparent mt_c20">Gönder</button>
              </div>
            </div>
          </form>
          <div class="contact-from-success" *ngIf="emailConfirmationFormSuccessMessage">
            <div class="box_alert media box_success">
              <div class="icon"><i class="icon-check"></i></div>
              <div class="media-body">
                <h5>E-posta onay maili gönderildi.</h5>
                <p>E-postanızı gelen onay mailini kontrol ediniz.</p>
              </div>
              <div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1">

      </div>
    </div>
  </div>
</section>
