<section class="sec_pad blog-view-list" *ngIf="blogListModel">
  <div class="container">
    <div class="row">
      <div class="col-lg-3" *ngFor='let blog of blogListModel'>
        <div class="blog_list_item mb_50">
          <a routerLink="/bloglar/{{blog.seoUrl}}"><img class="img-fluid" src="https://localhost:44362/images/blog/{{blog.firstVisibleImageName}}_300x180.jpg" alt="{{blog.title}}"></a>
          <div class="blog_content">
            <div class="entry_post_info">
              <a routerLink="/bloglar/{{blog.userName}}">{{blog.userName}}</a>
              <span>{{blog.createTime}}</span>
            </div>
            <a routerLink="/bloglar/{{blog.seoUrl}}">
              <h3 class="f_p f_size_18 f_500 t_color mb_20">{{blog.title}}</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
