<section class="breadcrumb_area" style="    background-image: url('assets/img/new/startup_banner_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  ">
  <ul class="list-unstyled cloud_animation">
    <li><img src="assets/img/erp-home/cloud_01.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_02.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_03.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_04.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_05.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_06.png" alt=""></li>
  </ul>
  <div class="container">
    <div class="breadcrumb_content text-center">
      <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">İzmir Eğitim Kurumları</h1>
      <p class="f_400 w_color f_size_20 l_height26">Eğitim kurumlarını sizin için listeledik. Hemen incelemeye başlayın!</p>
    </div>
  </div>
</section>
<section class="education_list_area">
  <div class="site__body">
    <div class="block-split block-split--has-sidebar">
      <div class="container">
        <div class="block-split__row row">
          <div class="block-split__item block-split__item-sidebar col-lg-3 col-sm-12">
            <div class="sidebar sidebar--offcanvas--mobile">
              <div class="sidebar__backdrop"></div>
              <div class="sidebar__body">
                <div class="sidebar__header">
                  <div class="sidebar__title">Filtreler</div><button class="sidebar__close"
                                                                     type="button">
                    <i class="ti-close"></i>
                  </button>
                </div>
                <div class="sidebar__content">
                  <div class="widget widget-filters widget-filters--offcanvas--mobile">
                    <div class="widget-filters__list">
                      <div class="widget-filters__item">
                        <mat-expansion-panel [expanded]="true">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Eğitim Türü
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <ul class="filter-categories__list">
                            <li *ngFor="let category of categories;let i = index" [class.active]="selectedCategoryIndex === i" (click)="onChangeCategory(category.id,i)" class="filter-categories__item filter-categories__item--parent">
                              {{category.name}}
                            </li>
                          </ul>
                        </mat-expansion-panel>
                      </div>
                      <div class="widget-filters__item">
                        <mat-expansion-panel [expanded]="true">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Bölge
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <ng-select [items]="districtList" [appendTo]="'body'"
                                     bindLabel="name"
                                     notFoundText="İlçe bulunamadı."
                                     [multiple]="true"
                                     placeholder="İlçe Seçiniz"
                                     (change)="onChangeDistrict()"
                                     bindValue="id" [searchable]="true" [(ngModel)]="selectedDistrictIds">
                          </ng-select>
                        </mat-expansion-panel>
                      </div>
                      <div *ngFor="let categoryAttribute of categoryAttributeList" class="widget-filters__item">
                        <mat-expansion-panel [expanded]="true">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              {{ categoryAttribute.categoryName }}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <label *ngFor="let attribute of categoryAttribute.attributeListModel" class="filter-list__item">
                            <span class="input-check filter-list__input">
                              <span class="input-check__body">
                                <se-checkbox [id]="attribute.id" [existingAttributeIds]="selectedAttributeIds" (change)="onChange(attribute.id, $event.target.checked)" [text]="attribute.name"></se-checkbox>
                              </span>
                            </span>
                          </label>
                        </mat-expansion-panel>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="block-split__item block-split__item-content col-lg-9 col-sm-12">
            <div class="block">
              <div class="products-view">
                <div class="products-view__options view-options view-options--offcanvas--mobile">
                  <div class="view-options__body">
                    <button type="button"
                            class="view-options__filters-button filters-button">
                      <span class="filters-button__icon">
                        <i class="ti-filter"></i>
                      </span><span class="filters-button__title">Filtreler</span>
                    </button>
                    <div class="view-options__spring"></div>

                    <div class="view-options__select">
                      <label for="view-option-limit">Göster:</label>
                      <select id="view-option-limit" (change)="changeeducationViewItemCount($event)" [(ngModel)]="educationViewItemCount" class="form-control form-control-sm">
                        <option value="12">12</option>
                        <option value="24">24</option>
                        <option value="48">48</option>
                      </select>
                    </div>
                  </div>
                  <div class="view-options__body view-options__body--filters">
                    <div *ngIf="selectedDistrictIds.length>0 || selectedAttributeIds.length>0" class="view-options__label">SEÇİLİ FİLTRELER</div>
                    <div *ngIf="selectedDistrictIds.length>0 || selectedAttributeIds.length>0" class="applied-filters">
                      <ul class="applied-filters__list">
                        <ng-container *ngIf="districtList.length>0">
                          <li *ngFor="let districtId of selectedDistrictIds" class="applied-filters__item">
                            <label class="applied-filters__button applied-filters__button--filter">
                              {{getSelectedDistrictName(districtId)}} <i (click)="removeSelectedDistrictId(districtId)" class="ti-close cursor-element"></i>
                            </label>
                          </li>
                        </ng-container>
                        <ng-container *ngIf="categoryAttributeList.length>0">
                          <li *ngFor="let attributeId of selectedAttributeIds" class="applied-filters__item">
                            <label class="applied-filters__button applied-filters__button--filter">
                              {{getSelectedAttributeName(attributeId)}} <i (click)="removeSelectedAttributeId(attributeId)" class="ti-close cursor-element"></i>
                            </label>
                          </li>
                        </ng-container>
                        <li class="applied-filters__item">
                          <button type="button" (click)="removeAllFilters()"
                                  class="applied-filters__button applied-filters__button--clear">
                            Tümünü Temizle
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12 blog_grid_info">
                        <div class="row">
                          <div class="col-sm-6 col-md-6 col-lg-4 col-12" *ngFor="let education of educationFilterList | educationListFilter:selectedDistrictIds:selectedAttributeIds | paginate: { itemsPerPage: educationViewItemCount, currentPage: pageNumber }" #filteredItems>
                            <div class="blog_list_item blog_list_item_two">
                              <a routerLink="/{{education.categorySeoUrl}}" class="post_date">
                                <span>{{education.categoryName}}</span>
                              </a>
                              <a [routerLink]="['/egitim-kurumu/',education.districtSeoUrl,education.categorySeoUrl,education.seoUrl]"><img class="img-fluid" src="{{apiUrl}}/images/{{education.imageUrl}}_300x180.jpg" alt="{{education.name}}"></a>
                              <div class="blog_content">
                                <a [routerLink]="['/egitim-kurumu/',education.districtSeoUrl,education.categorySeoUrl,education.seoUrl]">
                                  <h5 class="blog_title">{{education.name}}<img src="assets/img/tick.png" class="tick-image" /></h5>
                                </a>
                                <span>{{education.districtName}}</span>
                              </div>
                              <div class="item-action">
                                <a class="btn_three sign_btn_transparent mt_c20" [routerLink]="['/egitim-kurumu/',education.districtSeoUrl,education.categorySeoUrl,education.seoUrl]">Hemen İncele <i class="ti-angle-double-right"></i> </a>
                              </div>
                            </div>
                          </div>
                          <div *ngIf="(educationFilterList | educationListFilter:selectedDistrictIds:selectedAttributeIds).length < 1 " class="col-12">
                            <p class="f_400 f_size_16 mb-0">
                              Eğitim kurumu bulunamadı.
                            </p>
                          </div>
                          <div class="col-12">
                            <pagination-controls (pageChange)="pageNumber = $event"
                                                 maxSize="5"
                                                 autoHide="true"
                                                 responsive="true"
                                                 previousLabel="Geri"
                                                 nextLabel="İleri">
                            </pagination-controls>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
