<div class="dash-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="educationForm" (ngSubmit)="onSubmit()">
          <div class="db-add-list-wrap">
            <div class="act-title">
              <h5><i class="ion-ios-information"></i> General Information :</h5>
            </div>
            <div class="db-add-listing">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Eğitim Adı</label>
                    <se-textbox formControlName="educationName" placeholder="Eğitim Adı"></se-textbox>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Category</label>
                   <se-dropdown formControlName="educationType" title="Eğitim Tipi" [dataList]="category"></se-dropdown>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Keywords</label>
                    <input
                      type="text"
                      class="form-control filter-input"
                      placeholder="Keywords should be separated by commas"
                      
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Address</label>
                    <input
                      type="text"
                      class="form-control filter-input"
                      placeholder="Address of your hotel"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <form>
                    <div class="form-group">
                      <label for="list_info">Description</label>
                      <textarea [froalaEditor] formControlName="description"></textarea>
                    </div>
                  </form>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label>Features</label>
                    <div class="filter-checkbox">
                      <input id="check-a" type="checkbox" name="check" />
                      <label for="check-a">Elevator in building</label>
                      <input id="check-b" type="checkbox" name="check" />
                      <label for="check-b">Air Conditioned</label>
                      <input id="check-c" type="checkbox" name="check" />
                      <label for="check-c">Free Wi Fi</label>
                      <input id="check-d" type="checkbox" name="check" />
                      <label for="check-d">Free Parking on premises</label>
                      <input id="check-f" type="checkbox" name="check" />
                      <label for="check-f">Instant Book</label>
                      <input id="check-e" type="checkbox" name="check" />
                      <label for="check-e">Pet Friendly </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Title</label>
                      <input
                        type="text"
                        class="form-control filter-input"
                        placeholder="Title"
                      />
                    </div>

                    <div class="col-md-6">
                      <label>Icon</label>
                      <input
                        type="text"
                        class="form-control filter-input"
                        placeholder="Icon"
                      />
                    </div>
                    <div class="col-md-4">
                      <input type="submit" class="btn v7 mar-top-20" value="Kaydet">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
