<section class="breadcrumb_area" style="    background-image: url('assets/img/new/startup_banner_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  ">
  <ul class="list-unstyled cloud_animation">
    <li><img src="assets/img/erp-home/cloud_01.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_02.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_03.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_04.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_05.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_06.png" alt=""></li>
  </ul>
  <div class="container">
    <div class="breadcrumb_content text-center">
      <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">İzmir Eğitim Kurumları</h1>
      <p class="f_400 w_color f_size_20 l_height26">Aşağıdaki formu doldurarak yeniden şifre alabilirsin.</p>
    </div>
  </div>
</section>
<section class="contact_info_area sec_pad bg_color">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 pr-0">
        <div class="contact_form">
          <div *ngIf="errorList">
            <span class="not-valid" *ngFor="let error of errorList">
              {{error}}
            </span>
          </div>
          <form [formGroup]="userResetPasswordForm" *ngIf="userResetPasswordFormDiv" (ngSubmit)="userResetPasswordFormSubmit()">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group text_box">
                  <label class="f_p text_c f_400">Şifre</label>
                  <input type="password" id="password" formControlName="password" [ngClass]="{ 'is-invalid':userResetPasswordForm.controls['password'].errors && (userResetPasswordForm.controls['password'].dirty || userResetPasswordForm.controls['password'].touched)}" placeholder="******">
                  <div class="not-valid" *ngIf="(userResetPasswordForm.controls['password'].dirty || userResetPasswordForm.controls['password'].touched || submitted) && userResetPasswordForm.controls.password.errors!=null ? userResetPasswordForm.controls.password.errors.required:false">
                    Lütfen şifre giriniz.
                  </div>
                  <div class="not-valid" *ngIf="(userResetPasswordForm.controls['password'].dirty || userResetPasswordForm.controls['password'].touched || submitted) && userResetPasswordForm.controls.password.errors!=null ? userResetPasswordForm.controls.password.errors.minlength:false">
                    Lütfen en az 6 karakter giriniz.
                  </div>
                </div>
                <div class="form-group text_box">
                  <label class="f_p text_c f_400">Şifre Tekrar</label>
                  <input type="password" id="confirmPassword" formControlName="confirmPassword" [ngClass]="{ 'is-invalid':userResetPasswordForm.controls['confirmPassword'].errors && (userResetPasswordForm.controls['confirmPassword'].dirty || userResetPasswordForm.controls['confirmPassword'].touched)}" placeholder="******">
                  <div class="not-valid" *ngIf="(userResetPasswordForm.controls['confirmPassword'].dirty || userResetPasswordForm.controls['confirmPassword'].touched || submitted) && userResetPasswordForm.controls.confirmPassword.errors!=null ? userResetPasswordForm.controls.confirmPassword.errors.required:false">
                    Lütfen şifreyi tekrar giriniz.
                  </div>
                  <div class="not-valid" *ngIf="(userResetPasswordForm.controls['confirmPassword'].dirty || userResetPasswordForm.controls['confirmPassword'].touched || submitted) && userResetPasswordForm.controls.confirmPassword.errors!=null ? userResetPasswordForm.controls.confirmPassword.errors.mustMatch:false">
                    Şifre eşleşmiyor.
                  </div>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                  <button type="submit" class="btn_three sign_btn_transparent mt_c20">Şifremi Değiştir</button>
                </div>
              </div>
              <div class="col-lg-6">
              </div>
            </div>
          </form>
          <div class="contact-from-success" *ngIf="userResetPasswordFormSuccessMessage">
            <div class="box_alert media box_success">
              <div class="icon"><i class="icon-check"></i></div>
              <div class="media-body">
                <h5>Şifreniz değiştirildi.</h5>
                <p>5 saniye sonra giriş sayfasına yönlendirileceksiniz.</p>
              </div>
              <div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1">

      </div>
    </div>
  </div>
</section>
