<div class="dash-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="recent-activity my-listing">
          <div class="act-title">
            <h5><i class="ion-social-buffer-outline"></i> My Listings</h5>
          </div>

          <div class="viewd-item-wrap">
            <div class="most-viewed-item">
              <div class="most-viewed-img">
                <a href="#"><img src="images\single-listing\gallery-6.jpeg" alt="..."></a>
              </div>
              <div class="most-viewed-detail">
                <a class="category" href="#"><span class="list-bg aqua"><i class="icofont-hotel"></i></span>Hotel</a>
                <h3><a href="single-listing-one.html">Hilton Moorea</a></h3>
                <p class="list-address"><i class="icofont-google-map"></i>4210 Khale Street, Florence, USA</p>

                <div class="ratings">
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star-half"></i>
                </div>
                <div class="views">Views : <span>325</span></div>
              </div>
              <div class="listing-button">
                <a href="#" class="btn v2"><i class="ion-edit"></i> Edit</a>
                <a href="#" class="btn v5"><i class="ion-android-delete"></i> Delete</a>
              </div>
            </div>
            <div class="most-viewed-item">
              <div class="most-viewed-img">
                <a href="#"><img src="images\single-listing\restaurant-2.jpeg" alt="..."></a>
              </div>
              <div class="most-viewed-detail">
                <a class="category" href="#"><span class="list-bg red"><i class="icofont-restaurant"></i></span>Restaurent</a>
                <h3><a href="single-listing-two.html">La Quo Vadis</a></h3>
                <p class="list-address"><i class="icofont-google-map"></i>42 Albemarle st. Mayfair,London</p>

                <div class="ratings">
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star-half"></i>
                </div>
                <div class="views">Views : <span>280</span></div>
              </div>
              <div class="listing-button">
                <a href="#" class="btn v2"><i class="ion-edit"></i> Edit</a>
                <a href="#" class="btn v5"><i class="ion-android-delete"></i> Delete</a>
              </div>
            </div>
            <div class="most-viewed-item">
              <div class="most-viewed-img">
                <a href="#"><img src="images\category\event\muay.jpeg" alt="..."></a>
              </div>
              <div class="most-viewed-detail">
                <a class="category" href="#"><span class="list-bg violate"><i class="icofont-movie"></i></span>Movie</a>
                <h3><a href="single-listing-three.html">Muay Thai Live Show</a></h3>
                <p class="list-address"><i class="icofont-google-map"></i>1690 Brown Avenue,Barline</p>

                <div class="ratings">
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star-half"></i>
                </div>
                <div class="views">Views : <span>200</span></div>
              </div>
              <div class="listing-button">
                <a href="#" class="btn v2"><i class="ion-edit"></i> Edit</a>
                <a href="#" class="btn v5"><i class="ion-android-delete"></i> Delete</a>
              </div>
            </div>
            <div class="most-viewed-item">
              <div class="most-viewed-img">
                <a href="#"><img src="images\category\event\3.jpeg" alt="..."></a>
              </div>
              <div class="most-viewed-detail">
                <a class="category" href="#"><span class="list-bg aqua"><i class="icofont-music-alt"></i></span>Music</a>
                <h3><a href="single-listing-five.html">Bolton music fair </a></h3>
                <p class="list-address"><i class="icofont-google-map"></i>20 Hogh Street, Bolton, France</p>

                <div class="ratings">
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star"></i>
                  <i class="ion-ios-star-half"></i>
                </div>
                <div class="views">Views : <span>180</span></div>
              </div>
              <div class="listing-button">
                <a href="#" class="btn v2"><i class="ion-edit"></i> Edit</a>
                <a href="#" class="btn v5"><i class="ion-android-delete"></i> Delete</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
