<section class="breadcrumb_area" style="    background-image: url('assets/img/new/startup_banner_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  ">
  <ul class="list-unstyled cloud_animation">
    <li><img src="assets/img/erp-home/cloud_01.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_02.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_03.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_04.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_05.png" alt=""></li>
    <li><img src="assets/img/erp-home/cloud_06.png" alt=""></li>
  </ul>
  <div class="container">
    <div class="breadcrumb_content text-center">
      <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">İzmir Eğitim Kurumları</h1>
      <p class="f_400 w_color f_size_20 l_height26">Aşağıdaki formu doldurarak veya e-posta adresi ile mail gönderip bize ulaşabilirsiniz.</p>
    </div>
  </div>
</section>
<section class="contact_info_area sec_pad bg_color">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 pr-0">
        
        <div class="contact_info_item">
          <h2 class="f_p f_size_20 t_color3 f_500 mb_20">İletişim Bilgileri</h2>
          <p class="f_400 f_size_15"><span class="f_400 t_color3">Email:</span> <a href="mailto:info@izmiregitimkurumlari.com">info@izmiregitimkurumlari.com</a></p>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-1">
        <div class="contact_form">
          <form [formGroup]="contactForm" *ngIf="contactFormDiv" (ngSubmit)="onContactFormSubmit()">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group text_box">
                  <input type="text" formControlName="nameSurname" placeholder="Ad Soyad" />
                  <span class="not-valid" *ngIf="submitted && contactForm.get('nameSurname').errors != null ? contactForm.get('nameSurname').errors.required:false">
                    Lütfen Ad Soyad giriniz.
                  </span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group text_box">
                  <input type="text" formControlName="email" placeholder="E-posta" />
                  <span class="not-valid" *ngIf="submitted && contactForm.get('email').errors != null ? contactForm.get('email').errors.required:false">
                    Lütfen Email adresi giriniz.
                  </span>
                  <span class="not-valid" *ngIf="submitted && contactForm.get('email').errors != null ? contactForm.get('email').errors.email:false">
                    Lütfen geçerli Email adresi giriniz.
                  </span>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group text_box">
                  <input type="text" formControlName="phoneNumber" placeholder="Telefon" mask="(000) 000 00 00" [validation]="true" />
                  <span class="not-valid" *ngIf="submitted && contactForm.get('phoneNumber').errors != null ? contactForm.get('phoneNumber').errors.required:false">
                    Lütfen Telefon numarası giriniz.
                  </span>
                  <span class="not-valid" *ngIf="submitted && contactForm.get('phoneNumber').errors != null ? contactForm.get('phoneNumber').errors['Mask error']:false">
                    Lütfen geçerli bir Telefon numarası giriniz.
                  </span>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group text_box">
                  <textarea formControlName="message" placeholder="Mesajınız"></textarea>
                  <span class="not-valid" *ngIf="submitted && contactForm.get('message').errors != null ? contactForm.get('message').errors.required:false">
                    Lütfen Mesajınızı giriniz.
                  </span>
                </div>
              </div>
            </div>
            <button type="submit" class="btn_three sign_btn_transparent mt_c20">İletişime Geç</button>
          </form>
          <div class="contact-from-success" *ngIf="contactFormSuccessMessage">
            <div class="box_alert media box_success">
              <div class="icon"><i class="icon-check"></i></div>
              <div class="media-body">
                <h5>Bilgileriniz Gönderildi.</h5>
                <p>En yakın zamanda dönüş yapılacaktır. Teşekkürler</p>
              </div>
              <div>
              </div>
            </div>

          </div>
          <div id="success">Your message succesfully sent!</div>
          <div id="error">Opps! There is something wrong. Please try again</div>
        </div>
      </div>
    </div>
  </div>
</section>
