<section class="seo_home_area">
  <div class="home_bubble">
    <div class="bubble b_one"></div>
    <div class="bubble b_two"></div>
    <div class="bubble b_three"></div>
    <div class="bubble b_four"></div>
    <div class="bubble b_five"></div>
    <div class="bubble b_six"></div>
    <div class="triangle b_seven" data-parallax='{"x": 20, "y": 150}'><img src="img\seo\triangle_one.png" alt=""></div>
    <div class="triangle b_eight" data-parallax='{"x": 120, "y": -10}'><img src="img\seo\triangle_two.png" alt=""></div>
    <div class="triangle b_nine"><img src="img\seo\triangle_three.png" alt=""></div>
  </div>
  <div class="banner_top">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center seo_banner_content">
          <h2 class="wow fadeInUp" data-wow-delay="0.3s">Drive More Customers<br> Through Digital</h2>
          <p class="wow fadeInUp" data-wow-delay="0.5s">Chap fantastic skive off chancer knees up starkers easy peasy up the<br> kyver David, bleeding the BBC tomfoolery chimney.!</p>
          <a href="#" class="seo_btn seo_btn_one btn_hover">Get Started</a>
          <a href="#" class="seo_btn seo_btn_two btn_hover">Learn More</a>
        </div>
      </div>
      <div class="saas_home_img wow fadeInUp" data-wow-delay="0.8s">
        <img src="img\seo\image.png" alt="">
      </div>
    </div>
  </div>
</section>
