<section class="seo_home_area">
  <div class="home_bubble">
    <div class="bubble b_one"></div>
    <div class="bubble b_two"></div>
    <div class="bubble b_three"></div>
    <div class="bubble b_four"></div>
    <div class="bubble b_five"></div>
    <div class="bubble b_six"></div>
    <div class="triangle b_seven" data-parallax='{"x": 20, "y": 150}'><img src="assets/img/seo/triangle_one.png" alt=""></div>
    <div class="triangle b_eight" data-parallax='{"x": 120, "y": -10}'><img src="assets/img/seo/triangle_two.png" alt=""></div>
    <div class="triangle b_nine"><img src="assets/img/seo/triangle_three.png" alt=""></div>
  </div>
  <div class="banner_top">
    <div class="container">
      <div class="domain_box_info">
        <h3 class="wow fadeInUp" data-wow-delay="0.3s">Aradığın eğitim kurumunu hemen bul!</h3>
        <form [formGroup]="searchForm" (ngSubmit)="onSearchFormSubmit()">
          <div class="domain_form_inner">
            <input type="text" formControlName="searchText" (focus)="focusFunction()" (focusout)="focusOutFunction()" class="form-control" placeholder="Aradığın eğitimi burada bulabilirsin">
            <div class="domain_select">
              <ng-select [items]="categories"
                         bindLabel="name"
                         [clearable]="false"
                         notFoundText ="Kategori bulunamadı."
                         placeholder="Eğitim Türü Seçiniz"
                         bindValue="id" [searchable]="false" formControlName="categoryId">
              </ng-select>
            </div>
            <button type="submit" class="hosting_btn">Ara</button>
          </div>
        </form>

        <div *ngIf="isSearchResult" class="search-result-list">
          <ul class="search-box">
            <li *ngFor="let result of searchResult |filter: (searchForm.get('searchText').value | lowercase)" class="search-item"><a routerLink="/{{result.url + selectedCategoryUrl}}" [queryParams]="{ ilce: result.districtUrl }" queryParamsHandling="merge" >{{result.text}} {{selectedSearchFormCategoryName}}</a></li>
            <ng-container *ngIf="searchForm.get('searchText').value != ''">
              <li *ngFor="let result of educationSearchResult |filter: (searchForm.get('searchText').value | lowercase)" class="search-item"><a routerLink="egitim-kurumu/{{result.seoUrl}}">{{result.name}}</a></li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="support_integration_area">
  <div class="container">
    <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
      <h2 class="f_p f_size_30 l_height50 f_600 t_color3">Software Integrations</h2>
      <p class="f_400 f_size_16 mb-0">Why I say old chap that is spiffing lavatory chip shop gosh off his nut, smashing boot<br> are you taking the piss posh loo brilliant matie boy.!</p>
    </div>
    <div class="row flex-row-reverse">
      <div class="col-lg-9 col-md-10 col-sm-12">
        <div class="row">
          <div *ngFor="let category of categories;let i=index" class="col-lg-2 col-md-3 col-sm-3 col-6">
            <a routerLink="/egitim-kurumlari/{{category.seoUrl}}" class="s_integration_item">
              <img src="assets/img/egitim-kurumu-{{i}}.png" alt="{{category.name}}">
              <h5>{{category.name}}</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-12">
        <img class="integration_img" src="assets/img/new-home/tree.png" alt="">
      </div>
    </div>
  </div>
</section>
<section class="sec_pad">
  <div class="container">
    <div class="row select-box-homepage">
      <div class="col-md-6">
        <p class="f_400 f_size_20 mb-0">Öne Çıkan Eğitim Kurumları</p>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="district_dropdown">
            <ng-select [items]="districtList"
                       bindLabel="name"
                       notFoundText ="İlçe bulunamadı."
                       placeholder="İlçe Seçiniz"
                       bindValue="id" [searchable]="true" [formControl]="district">
            </ng-select>
          </div>
          <div class="category_dropdown">
            <ng-select [items]="categories"
                       bindLabel="name"
                       notFoundText ="Kategori bulunamadı."
                       placeholder="Eğitim Türü Seçiniz"
                       bindValue="id" [searchable]="false" [formControl]="categoryHomePage">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 blog_grid_info">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-3 col-12" *ngFor='let education of educationList'>
            <div class="blog_list_item blog_list_item_two">
              <a routerLink="/{{education.categorySeoUrl}}" class="post_date">
                <span>{{education.categoryName}}</span>
              </a>
              <a [routerLink]="['/egitim-kurumu/',education.districtSeoUrl,education.categorySeoUrl,education.seoUrl]"><img class="img-fluid" src="{{apiUrl}}/images/{{education.imageUrl}}_300x180.jpg" alt="{{education.name}}"></a>
              <div class="blog_content">
                <a [routerLink]="['/egitim-kurumu/',education.districtSeoUrl,education.categorySeoUrl,education.seoUrl]">
                  <h5 class="blog_title">{{education.name}}<img src="assets/img/tick.png" class="tick-image" /></h5>
                </a>
                <span>{{education.districtName}}</span>
              </div>
              <div class="item-action">
                <a class="btn_three sign_btn_transparent mt_c20" [routerLink]="['/egitim-kurumu/',education.districtSeoUrl,education.categorySeoUrl,education.seoUrl]">Hemen İncele <i class="ti-angle-double-right"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
