::ng-deep {
  .district_dropdown {
    .ng-select-container {
      border: 0px !important;
      width: 100% !important;
      padding: 0px;
      padding-left: 16px;
      border-left: 1px solid #d8dcea !important;
      border-radius: 0px !important;
      font-size: 20px;
      color: #9d9db0 !important;
      font-weight: 300;
      background: transparent !important;
    }

    .ng-select .ng-select-container:hover {
      box-shadow: none !important;
    }

    .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
      box-shadow: none !important;
    }

    .ng-dropdown-panel.ng-select-bottom {
      margin-top: 5px !important;
    }
  }

  .category_dropdown {
    .ng-select-container {
      border: 0px !important;
      width: 100% !important;
      padding: 0px;
      padding-left: 16px;
      border-left: 1px solid #d8dcea !important;
      border-radius: 0px !important;
      font-size: 20px;
      color: #9d9db0 !important;
      font-weight: 300;
      background: transparent !important;
    }

    .ng-select .ng-select-container:hover {
      box-shadow: none !important;
    }

    .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
      box-shadow: none !important;
    }

    .ng-dropdown-panel.ng-select-bottom {
      margin-top: 5px !important;
    }
  }

  .domain_select {
    .ng-select-container {
      border: 0px !important;
      width: 100% !important;
      padding: 0px;
      padding-left: 16px;
      border-left: 1px solid #d8dcea !important;
      border-radius: 0px !important;
      font-size: 20px;
      color: #9d9db0 !important;
      font-weight: 300;
      background: transparent !important;
    }

    .ng-select .ng-select-container:hover {
      box-shadow: none !important;
    }

    .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
      box-shadow: none !important;
    }

    .ng-dropdown-panel.ng-select-bottom {
      margin-top: 5px !important;
    }

    .ng-select .ng-select-container .ng-value-container {
      padding: 2px 0px;
    }
  }

  @media (max-width: 768px) {
    .domain_select .ng-select-container {
      border-left: 0px !important;
      margin: 0px 0px 10px 0px;
    }

    .district_dropdown .ng-select-container {
      border-left: 0px !important;
    }

    .ng-select .ng-select-container .ng-value-container {
      padding: 2px 0px;
      font-size: 15px;
    }
  }
}
