<div class="breadcrumb-area">
  <h1>Dashboard</h1>

  <ol class="breadcrumb">
    <li class="item"><a href="dashboard-analytics.html"><i class="bx bx-home-alt"></i></a></li>

    <li class="item">Dashboard</li>

    <li class="item">Forms</li>
  </ol>
</div>
<div class="card mb-30">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3>Eğitim Kurumları</h3>
  </div>

  <div class="card-body">

    <div *ngFor='let education of educationList' style="margin-bottom:20px">
      <div class="row">
        <div class="col-md-2">
          <div class="most-viewed-img">
            <a routerLink="/{{education.seoUrl}}"><img src="https://localhost:44362/images/{{education.imageUrl}}_300x180.jpg" alt="{{education.name}}"></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="most-viewed-detail">
            <a class="category list-group-item" routerLink="/{{education.categorySeoUrl}}"><span class="list-bg red"><i class="icofont-education"></i></span>{{education.categoryName}}</a>
            <h3><a routerLink="/{{education.seoUrl}}">{{education.name}}</a></h3>
            <p class="list-address list-group-item"><i class="icofont-google-map"></i>{{education.districtName}}</p>
            <div class="list-group-item" >Görüntülenme : <span>280</span></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="listing-button">
            <a [routerLink]="['/panel/egitim-duzenle/',education.seoUrl]" class="btn v2"><i class="ion-edit"></i> Düzenle</a>
            <a (click)="deleteEducation(education.id)" class="btn v5"><i class="ion-android-delete"></i> Sil</a>
          </div>
        </div>
                
      </div>
    </div>

  </div>
</div>

<div class="dash-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="recent-activity my-listing">
          <div class="act-title">
            <h5><i class="ion-social-buffer-outline"></i>Eğitimler</h5>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
