<div class="breadcrumb-area">
  <h1>Dashboard</h1>

  <ol class="breadcrumb">
    <li class="item"><a href="dashboard-analytics.html"><i class="bx bx-home-alt"></i></a></li>

    <li class="item">Dashboard</li>

    <li class="item">Forms</li>
  </ol>
</div>
<div class="card mb-30" *ngFor='let education of educationList'>
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="dropdown action-area">
      <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class='bx bx-dots-horizontal-rounded'></i>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item d-flex align-items-center" [routerLink]="['/panel/egitim-duzenle/',education.seoUrl]">
          <i class='bx bx-edit-alt'></i> Düzenle
        </a>
        <a class="dropdown-item d-flex align-items-center" (click)="deleteEducation(education.id)">
          <i class='bx bx-trash'></i> Sil
        </a>
        <a class="dropdown-item d-flex align-items-center" [routerLink]="['/panel/egitim-iletisim-formlari/',education.seoUrl]">
          <i class=' bx bx-envelope'></i> İletişim Formları
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#">
          <i class='bx bx-download'></i> Download
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div style="margin-bottom:20px">
      <div class="row">
        <div class="col-md-3">
          <div class="most-viewed-img">
            <a routerLink="/{{education.seoUrl}}"><img src="https://localhost:44362/images/{{education.imageUrl}}_300x180.jpg" alt="{{education.name}}"></a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="most-viewed-detail">
            <a class="category" routerLink="/{{education.categorySeoUrl}}"><i class="bx bxs-label"></i> {{education.categoryName}}</a>
            <h3><a [routerLink]="['/egitim-kurumu/',education.districtSeoUrl,education.categorySeoUrl,education.seoUrl]">{{education.name}}</a></h3>
            <p><i class="bx bx-current-location"></i> {{education.districtName}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
